.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    
}

.Blog{
    height: 100%;
    background-color: #00a3f0;
}

.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}


.Blog li {
display: inline-block;
margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color: orange
}